body {
  margin: 0%;
}
h3:nth-child(1) {
  color: pink;
}

#greycol {
  color: grey;
}

div>div p {
  color: red;
}

p:nth-child(7) {
  color: green;
}

.yellow {
  color: yellow;
}
ul:nth-child(1) {
  background-color: red;
}
ul:nth-child(2) {
  background-color: royalblue;
}
ul:nth-child(3) {
  background-color: yellow;
}
ul:nth-child(4) {
  background-color: pink;
}
ul:nth-child(5) {
  background-color: violet;
}
.list {
  list-style-type: none;
}
.list:nth-child(1) .monday-link:active {
  color: yellow;
}
.monday:nth-child(2n) {
  font-size: 26px;
}
.list:nth-child(2) .tuesday-link:hover {
  color: yellow;
}
.tuesday:nth-child(-n+2) {
  font-style: italic;
  font-size: 25px;
}
ul
.wednesday:nth-child(n+3) {
  color: blue;
}
ul:nth-child(3):not(.tuesday) {
  color: hotpink;
}
.thursday:first-child {
  letter-spacing: 5px;
}
.thursday-link {
  color: indianred;
}
.thursday-link:visited {
  color: white;
}
/* Я не понимаю почему оно не работает , онопросто заменяет цвет текста , и это все что оно делает , не знаю как исправить */
ul:nth-child(4) {
  color: aqua;
}
.friday:last-child {
  font-size: 35px;
}

a[href*="#"] {
  color: black;
}
a[href*="#"]:focus {
  color: green;
}


