body {
  margin: 0%;
}
ul:nth-child(1) {
  background-color: red;
}
ul:nth-child(2) {
  background-color: royalblue;
}
ul:nth-child(3) {
  background-color: yellow;
}
ul:nth-child(4) {
  background-color: pink;
}
ul:nth-child(5) {
  background-color: violet;
}
.list {
  list-style-type: none;
}
ul:nth-child(1):active {
  color: yellow;
}
.monday:nth-child(2n) {
  font-size: 26px;
}
ul:nth-child(2):hover {
  color: red;
}
.tuesday:nth-child(-n+2) {
  font-style: italic;
  font-size: 25px;
}
.wednesday:nth-child(n+3) {
  color: blue;
}
ul:nth-child(3):not(3) {
  color: hotpink;
}
.thursday:first-child {
  letter-spacing: 5px;
}
a[href*="1"] {
  color: indianred;
}
a[href*="1"]:visited {
  color: white;
}
/* Я не понимаю почему оно не работает , онопросто заменяет цвет текста , и это все что оно делает , не знаю как исправить */
ul:nth-child(4) {
  color: aqua;
}
.friday:last-child {
  font-size: 35px;
}
/* ul:nth-child(5):checked {
  color: greenyellow;
} */
/* ничего не делает вообще */
a[href*="#"] {
  color: black;
}
a[href*="#"]:focus {
  color: green;
}


